.teal {
    height: 30vh;
    width: 30%;
    background-color: #08A587;
    font-family: 'Dancing Script', cursive;
}

.dark_teal {
    height: 45vh;
    width: 80%;
    background-color: #16594C;
}

.brown {
    height: 45vh;
    width: 80%;
    background-color: #592816;
}

.light_brown {
    height: 45vh;
    width: 80%;
    background-color: #A55639;
    font-family: Georgia, serif;
}
